@import url('https://fonts.googleapis.com/css?family=Fresca|Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#root {
   font-family: 'Roboto', sans-serif;
   font-family: 'Montserrat', sans-serif;
}



.App {
  margin: 0;
  padding: 0;
background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
}



/* Title */

.title {
  display: flex;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #393D3F;
  font-weight: 600;
  height: 50px;
}

.title-background {
  position: absolute;
  top: 20px;
  height: 50px;
  width: 40vw;
  background-color: #800E13;
  opacity: 0.2;
}

.title-cont {
  display: flex;
  justify-content: center;
}

/* Title ends */

/* Input */
.input-cont {
  font-size: 1.2rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.input-cont input {
  width: 90px;
  padding: 5px;
  border-radius: 2px;
  border: none;
}

.add {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  color: #cd5dc5;
  border: none;
  padding: 3px;
  width: 40px;
  border-radius: 2px;
}

.warning {
  color: #fff;
  font-size: 0.8rem;
  background-color: #C33C54;
  text-align: center;
}
/* Input Ends*/

/* list */

.listOfCoord {
  position: absolute;
  top: 180px;
}

li {
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.ul-list {
  color: black;
  font-size: 0.9rem;
}

.Col {
  width: 33.33%;
}
.save {
  background-color: #3EC09A;
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}
.listCont {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.remove {
  cursor: pointer;
  background-color: #C33C54;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 2px;
}


.list-enter {
  opacity: 0.01;
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: 700ms;
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: 700ms;
}


/* Liest Ends */
