@import url('https://fonts.googleapis.com/css?family=Fresca|Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

#root {
   font-family: 'Roboto', sans-serif;
   font-family: 'Montserrat', sans-serif;
}


.App {
  margin: 0;
  padding: 0;
background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
  position: fixed;
  width: 100vw;
  height: 100vh;
  color: white;
}


/* Title */

.title {
  display: flex;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: white;
  font-weight: 600;
  height: 50px;
  z-index: 2;
}

.title-background {
  position: absolute;
  top: 20px;
  height: 50px;
  width: 40vw;
  min-width: 400px;
  background-color: #800E13;
  opacity: 0.2;
}

.title-cont {
  display: flex;
  justify-content: center;
}

/* Title ends */

/* Input */
.input-cont {
  font-size: 1.2rem;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.input-cont input {
  width: 90px;
  padding: 5px;
  border-radius: 2px;
  border: none;
}

.add {
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: white;
  color: #cd5dc5;
  border: none;
  padding: 3px;
  width: 40px;
  border-radius: 2px;
}

.warning {
  color: #fff;
  font-size: 0.8rem;
  background-color: #C33C54;
  text-align: center;
}
/* Input Ends*/

/* list */

.listOfCoord {
  position: absolute;
  top: 200px;
  height: 400px;
  overflow-y: auto;
}

li {
  list-style-type: none;
  background-color: white;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.ul-list {
  color: black;
  font-size: 0.9rem;
}

.Col {
  width: 33.33%;
}

.listCont {
  width: 400px;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.remove {
  cursor: pointer;
  background-color: #C33C54;
  color: white;
  border: none;
  padding: 4px;
  border-radius: 2px;
}

.handleList {
  display: flex;
  justify-content: center;
}

.sort {
  background-color:  #3EC09A;
  width: 70px;
  font-size: 0.8rem;
  cursor: pointer;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px 0px;
}

.sort-x {
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: 0;
  font-size: 0;
  width: 150px;
}

.sort-x-active {
  left: 0;
  width: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  transition: ease-in-out 0.25s all;
  z-index: 2;
}

.sort-x div {
  margin: 0px 3px;
  background-color: white;
  color: #3EC09A;
  padding: 0px 10px;
  cursor: pointer;
}

.display {
  position: absolute;
  top: 20px;
  height: 0;
  width: 0;
  font-size: 0;
  display: flex;
  justify-content: space-around;
  transition: ease-in-out 0.25s all;
  left: 303px;
  z-index: -5;
}

.display-active {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  width: 95px;
  margin: 0;
  padding: 0;
  height: 15px;
  position: absolute;
  left: 300px;
  top: 10px;
  z-index: 0;
}

.display div {
  cursor: pointer;
  background-color: white;
  width: 18px;
  color: #3EC09A;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Liest Ends */

/* Pagination*/
#page-numbers {
  font-size: 1rem;
  color: black;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  width: 400px;
  justify-content: center;

}

#page-numbers li {
  font-size: 0.9rem;
  width: 40px;
  margin: 0 2px;
  display: flex;
  justify-content: center;
}

.current-page {
  background-color: black !important;
  color: white;
}
/* Pagination Ends*/

/*Sidebar*/

.sidebarCont {
  position: absolute;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100vh;
  transition: 0.500s ease-in-out all;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebarCont div {
  margin: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.arrow {
  position: absolute;
  height: 30px;
  top: 45%;
  left: 0;
  cursor: pointer;
  transition: 0.500s ease-in-out all;
}

.sidebarCont-active {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  border-right: 1px solid black;
}

.arrow-active {
  position: absolute;
  height: 30px;
  top: 45%;
  left: 200px;
  cursor: pointer;
}

.fileInput {
  position: absolute;
  left: 40px;
  width: 70px;
  cursor: pointer;
  opacity: 0;
}

/*Sidebar Ends*/
